MYSQL_ROOT_PASSWORD=rootpass
WP_DB_NAME=wordpress
MYSQL_USER=wpuser
MYSQL_PASSWORD=wppass

# Généré via:
# echo $(htpasswd -nb admin password) | sed -e s/\\$/\\$\\$/g
PMA_BASIC_AUTH=admin:$$apr1$$xpgq7f.s$$/rSNM.rlWRpBINXwARKM4/

